{{> menu active="dashboard"}}

<section class="section">
    <div class="title">
        Admin Dashboard
    </div>
    <div class="box box-link-hover-shadow">
    <h2 class="title">
      No. of Users: {{noOfUsers}}
    </h2>
  </div>
    {{> list-users}}
</section>