{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{place.name}}
    </div>
      {{> list-megalithic-monuments}}
      {{> add-megalithic-monument}}
  </div>
  <div class="column">
    {{> place-image }}
  </div>
</section>
