{{> menu}}

<section class="section">
    <div class="title">
      {{place.name}}
    </div>
      {{> list-megalithic-monuments}}
      {{> add-megalithic-monument}}
      {{> place-image }}
</section>
