<form action="/place/{{place._id}}/addmonument" method="POST">
  <div class="field">
    <label class="label">Name of Megalithic Monument</label> <input class="input" type="text" placeholder="Megalithic Monument" name="name">
  </div>
    <div class="field">
    <label class="label">Description</label> <input class="input" type="text" placeholder="Description" name="description">
  </div>
  <div class="field">
    <label class="label">Location</label> <input class="input" type="text" placeholder="Latitude" name="lat"> <input class="input" type="text" placeholder="longitude" name="lng">
  </div>
  <div class="field">
    <label class="label">Category</label>
  </div>
  <div>
    <select class="select select-bordered" name="cat">
      <option>Stone Circle</option>
      <option>Court Tomb</option>
      <option>Passage Tomb</option>
      <option>Wedge Tomb</option>
      <option>Stone Row</option>
      <option>Portal Tomb</option>
      <option>Cairn</option>
      <option>Standing Stone</option>
    </select>
  </div>
  <button class="button is-link">Add Megalithic Monument</button>
  </div> 
  </div>
</form>