<form action="/dashboard/addplacename" method="POST">
  <div class="field">
    <label class="label">Place</label> <input class="input" type="text" placeholder="Place Name" name="name">
  </div>
  <button class="button is-link">Add Place</button>
</form>