<form action="/place/{{place._id}}/addmonument" method="POST">
   <label>Enter Monument Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Name Of Monument" name="name">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Latitude" name="lat">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter longitude" name="lng">
      </div>
      <div class="field">
       <div class="select">
        <select name="category">
          {{#each categories }}
            <option> {{typeMonument}}</option>
          {{/each}}
        </select>
       </div>
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Monument</button>
</form>