<form action="/dashboard/addmegalithicmonument" method="POST">
  <div class="field">
    <label class="label">Name of Megalithic Monument</label> <input class="input" type="text" placeholder="Megalithic Monument" name="name">
  </div>
  <button class="button is-link">Add Megalithic Monument</button>
</form>