{{#each users}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{firstName}} {{lastName}}
    </h2>
    <a href="/adminDashboard/deleteuser/{{_id}}" class="button">
    <span class="icon-text">
      <span class="icon has-text-danger">
        <i class="far fa-times-circle"></i>
      </span>
    <span>Delete</span>
    </span>
    </a>
  </div>
{{/each}}